* {
    margin: 0;
    padding: 0;
}

.logo{
    mix-blend-mode: multiply;
}

#activeLink{
    color: #2E8486;
    font-weight: bold;
}

#login-form, #edit-form{
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 3%;
}

button {
    background-color: #2E8486 !important;
    border-color: #2E8486 !important;
}

button:hover{
    background-color: #255e5f !important;
    border-color: #255e5f !important;
}

h3{
    color: #2E8486 !important;
}

#calendrier{
    width: 80%;
    align-self: center;
}
