{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Inscription{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}

    <div id="login-form">
        <h3>Ajouter un medecin :</h3>

        <div class="formulaire">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary" >Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

